@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide scrollbars globally */
  * {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  /* For WebKit-based browsers like Chrome, Safari, and Edge */
  *::-webkit-scrollbar {
    display: none;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
} */
